* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Death-Star';
}

@font-face {
    font-family: 'Death-Star';
    src: url('font/Death-Star.ttf.woff') format('woff'), url('font/Death-Star.ttf.svg#Death-Star') format('svg'), url('font/Death-Star.ttf.eot'), url('font/Death-Star.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
}

.mixer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    height: 480px;
    border: 1px solid rgb(50, 50, 50);
    background: black;
}

#mixer-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.element {
    border: 1px solid black;
}

div#top-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#bottom-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#slide-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 240px;
    border: 1px solid black;
}

div.slide {
    height: 50px;
    width: 120px;
    background: rgba(88, 89, 88, 1.0)
}

div#button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 120px;
    border: 1px solid black;
}

div.switch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 170px;
    background: rgba(88, 89, 88, 1.0);
}

.cnv {
    width: 100%;
    display: flex;
    height: 76px;
    background: rgba(0, 38, 201, 1.0);
    justify-content: center;
}

div#btn2-container {
    background: rgba(0, 19, 102, 1.0);
    transition: 2000ms all ease;
}

div#btn2-container.on {
    background: rgba(0, 48, 255, 1.0);
    transition: 2000ms all ease;
}

.vader {
    display: flex;
    width: 62%;
    align-self: center;
    justify-content: center;
    fill: transparent;
}

.vader.on {
    fill: white;
}

div#btn1-container {
    background: rgba(10, 10, 10, 1.0);
    box-shadow: 0 0 0px 0px rgba(10, 10, 10, 0.01);
    transition: all ease 400ms;
    transition-delay: 200ms;
}

div#btn1-container.on {
    background: rgba(236, 2, 55, 1.0);
    box-shadow: 0 0 5px 1px rgba(255, 2, 59, 1.0);
    transition: all ease 400ms;
    transition-delay: 200ms;
}

.power {
    fill: rgba(102, 1, 23, 1.0);
    transition: all ease-in-out 800ms;
    transition-delay: 500ms;
}

.power.on {
    fill: rgba(0, 50, 50, 1);
    transition: all ease-in-out 700ms;
    transition-delay: 100ms;
}

#vaderbtn {
    display: flex;
    align-self: center;
    justify-content: center;
    /* background: green; */
}

#pwrbtn {
    height: 64px;
    width: 50%;
    align-self: center;
    background: transparent;
}

#play-stop-pause-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.buttons {
    background: rgba(226, 229, 226, 1.0);
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-button {
    /* background: red; */
    width: 84%;
}

#stopbtn {
    width: 100%;
    /* background: blue; */
}

#playbtn {
    /* width: 45px; */
}

.stop {
    fill: rgba(102, 1, 23, 1.0);
    transition: all 150ms ease;
}

.play {
    fill: rgba(0, 19, 102, 1.0);
    transition: all 150ms ease;
}

.stop:hover {
    fill: rgba(236, 2, 55, 1.0);
    transition: all 150ms ease;
}

.play:hover {
    fill: rgba(0, 48, 255, 1.0);
    transition: all 150ms ease;
}

.play.on {
    fill: rgba(0, 48, 255, 1.0);
    transition: all 150ms ease;
}

#play-stop-button-divider {
    width: 100%;
}

#master-gain-container {}

#tempo-slider-container {}

#eq-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eq-knob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px auto 1px;
}

.eq-label {
    display: flex;
    align-items: center;
    color: white;
    width: 18px;
    font-family: 'Death-Star';
}

input {
    display: none;
}

canvas#visualizer {
    width: 100%;
    height: 50px;
}

#effect1-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input#audioFile {
    display: flex;
    background: transparent;
    color: transparent;
    width: 120px;
}


/* VOLUME LED STYLES  */

.powerLED {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    height: 400px;
    background: rgba(88, 89, 88, 1.0);
    margin: 20px;
}

.LED {
    margin: auto;
}

.active {
    background: rgba(200, 251, 253, 1.0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 1500ms ease;
    box-shadow: 0 0 25px 2px rgba(221, 253, 253, 1.0);
}

.inactive {
    background: rgba(0, 0, 0, 1.0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 500ms ease-out;
    box-shadow: 0 0 0 0 black;
}