* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
        font-family: 'Death-Star';

}
@font-face {
    font-family: 'Death-Star';
    src:url('font/Death-Star.ttf.woff') format('woff'),
        url('font/Death-Star.ttf.svg#Death-Star') format('svg'),
        url('font/Death-Star.ttf.eot'),
        url('font/Death-Star.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
}

.mixer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    height: 480px;
    border: 1px solid rgb(50, 50, 50);
    background: black;
}

#mixer-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.element {
    border: 1px solid black;
}


div#top-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#bottom-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#slide-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 125px;
    height: 240px;
    border: 1px solid black;
}

div.slide {
    height: 50px;
    width: 120px;
    background: rgba(88, 89, 88, 1.0)
}

div#button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 125px;
    border: 1px solid black;
}

div.switch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 170px;
    background: rgba(88, 89, 88, 1.0);
}

.cnv {
    width: 100%;
    display: flex;
    height: 76px;
    background: rgba(0, 38, 201, 1.0);
    justify-content: center;
}
div#cnv1-container{
    background: rgba(10, 10, 10, 1.0);
    box-shadow: 0 0 0px 0px rgba(10, 10, 10, 0.01);
    transition: all ease 400ms;
    transition-delay: 200ms;
}
div#cnv1-container.on {
    background: rgba(236, 2, 55, 1.0);
    box-shadow: 0 0 5px 1px rgba(255, 2, 59, 1.0);
    transition: all ease 400ms;
    transition-delay: 200ms;
}
.power{
    fill: rgba(102, 1, 23, 1.0);
    transition: all ease-in-out 800ms;
    transition-delay: 500ms;
}
.power.on{
    fill: rgba(0,50,50,1);
    transition: all ease-in-out 700ms;
    transition-delay: 100ms;
}

#pwrbtn {
    height: 64px;
    width: 50%;
    align-self: center;
    background: transparent;
}

.effect-knob {
    display: inline-block;
    flex-grow: 1;
}


#play-stop-pause-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button#playbtn,
button#stopbtn {
    background: transparent;
    width: 100%;
    height: 60px;
}

.icon-play {
    background: url('assets/play.svg') no-repeat;
    height: 32px;
}

.icon-stop {
    background: url('assets/stop.svg') no-repeat;
    height: 32px;
}

#master-gain-container {
}

#tempo-slider-container {
}

#eq-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eq-knob {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 1px auto 1px;
}
.eq-label {
    display: flex;
    align-items: center;
    color: white;
    width: 18px;
    font-family: 'Death-Star';
}

input {
    display: none;
}

input#audioFile {
    display: initial;
}
/* VOLUME LED STYLES  */
.powerLED {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    height: 400px;
    background: rgba(88, 89, 88, 1.0);
    margin: 20px;
}

.LED {
    margin: auto;
}

.active {
    background: rgba(200, 251, 253, 1.0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 1500ms ease;
    box-shadow: 0 0 25px 2px rgba(221, 253, 253, 1.0);
}

.inactive {
    background: rgba(0, 0, 0, 1.0);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 500ms ease-out;
    box-shadow: 0 0 0 0 black;
}

